<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="reader" class="ru.otus.spring.service.CsvFileReader">
        <constructor-arg name="file" value="homework1/src/main/resources/file1.csv"/>
    </bean>

    <bean id="ioService"
          class="ru.otus.spring.service.IOServiceImpl">
        <constructor-arg name="reader" ref="reader"/>
    </bean>
</beans>